body {
  margin: 0;
  padding: 0;
  background-color: #0b0b0f;
  color: white;
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.right-links {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.right-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.hero-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.hero-text {
  width: 700px;
}

.hero {
  display: flex;
  align-items: center;
  gap: 75px;
}

.image-area {
  width: 600px;
  height: 400px;
  background-image: url(https://images.unsplash.com/photo-1534438327276-14e5300c3a48?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(53, 51, 51);
  border: 3px rgb(46, 46, 46) solid;
  border-radius: 20px;
}

.hero h1 {
  font-size: 64px;
  margin: 0;
  font-weight: 800;
}

.hero p {
  color: rgb(165, 162, 162);
}

.hero button {
  background-color: #c89b3c;
  width: 150px;
  height: 75px;
  border: 2px rgb(46, 44, 44) solid;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.hero button:hover {
  background-color: #b5892f;
}

.navbar a:hover {
  font-weight: bolder;
}

.logo {
  font-weight: 800;
  font-size: 32px;
}

.footer {
  padding: 50px;
  background-color: #22222b;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 100px;
}

.quick-links {
  display: flex;
  gap: 100px;
}

.contact {
  display: flex;
  gap: 75px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.membership-plans,
.why-choose-us {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  margin-top: 25px;
  display: flex;
  gap: 30px;
}

.card {
  background-color: #17171d;
  border-radius: 20px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 30px;
}

.why-choose-us h1 {
  font-size: 56px;
  font-weight: 800;
}

.membership-plans h1 {
  font-size: 56px;
  font-weight: 800;
}

.membership-plans {
  margin-bottom: 100px;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.quote-one {
  margin-right: 400px;
}
.quote-two {
  margin-left: 400px;
}

.quote-one p,
.quote-two p {
  font-size: 24px;
}

.quote-one,
.quote-two {
  width: 500px;
  background-color: #22222b;
  padding: 25px;
  border-radius: 25px;
}

.card button {
  width: 150px;
  padding: 25px;
  color: white;
  background-color: #c89b3c;
  border: 3px rgb(57, 56, 56) solid;
  border-radius: 10px;
  cursor: pointer;
}

.card button:hover {
  background-color: #b5892f;
}

.card h2 {
  font-size: 38px;
  margin: 0;
  padding: 0;
}

.price {
  font-size: 48px;
  margin: 0;
}

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  height: 200px;
}

.why-choose-us .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 300px;
}

.cta {
  display: flex;
  justify-content: center;
}

.cta-box h1 {
  font-size: 38px;
}

.cta-box p {
  font-size: 20px;
}

.cta-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 800px;
  height: 300px;
  background-color: #22222b;
  margin-top: 100px;
  gap: 20px;
  border-radius: 20px;
}

.cta-box button {
  background-color: #c89b3c;
  color: white;
  border: 3px rgb(15, 15, 71) solid;
  border-radius: 10px;
  padding: 25px;
  width: 200px;
  cursor: pointer;
}

.cta-box button:hover {
  background-color: #b5892f;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
  }
  .hero-text {
    width: 300px;
  }
  .hero h1 {
    font-size: 40px;
  }
  .image-area {
    width: 300px;
    height: 200px;
  }
  .cards {
    flex-direction: column;
  }
  .quote-one,
  .quote-two {
    margin: 0;
    width: 300px;
  }
  .navbar {
    flex-direction: column;
    gap: 30px;
  }
  .cta-box {
    height: 400px;
    width: 450px;
  }
}
